/**
 * SortIcon Styles
 *
 * Minimalist styles for sort icon indicators.
 */

.sort-icon {
  margin-left: var(--space-2);
  opacity: 0.6;
  user-select: none;
}

.sortable:hover .sort-icon {
  opacity: 1;
}
